body {
  /* height: 100vh; */
  /* padding: 15px; */
  font-family: "Vazirmatn", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;

  background: rgb(18, 139, 91);
  background: radial-gradient(
    circle,
    rgba(18, 139, 91, 1) 0%,
    rgba(0, 61, 17, 1) 100%
  );
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  align-items: stretch;
}

.center {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.font-large {
  font-weight: bold;
  font-size: 5vw;
  position: relative;
}

.font-mid {
  font-weight: bold;
  font-size: 4rem;
  position: relative;
  padding: 0;
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: scale(0.9) rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: scale(1) rotate(10deg);
  }
  50% {
    opacity: 1;
    transform: scale(1.1) rotate(-10deg);
  }
  75% {
    opacity: 1;
    transform: scale(1) rotate(10deg);
  }
  100% {
    opacity: 0;
    transform: scale(0.9) rotate(0deg);
  }
}

.animation-center-text {
  animation: textAnimation 3s infinite;
  overflow: hidden;
}

.box {
  box-sizing: border-box;
  background: rgba(0, 40, 160, 0.25);
  box-shadow: 3px 5px 50px rgba(0, 0, 0, 1);

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  border-radius: 25px;
  padding: 25px;
  margin: 25px;
}

.box-header {
  margin: 5px;
}

.box-icon {
  width: 75px;
}

.link-list {
  list-style-type: none;
  padding: 0;
}

.link-list li {
  margin-bottom: 10px;
}

.link-list li a {
  text-decoration: none;
}

.item {
  /* width: 60vw; */
  padding: 0 20px;
  height: 60px;

  background-color: rgba(25, 25, 25, 0.7);
  border-radius: 16px;

  transition: 0.3s ease;
  color: #fff;
  font-size: 1rem;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.item:hover {
  border-radius: 20px;
  background-color: #bbb;
  color: #000;
  transform: scale(1.075);
}

.icon {
  margin: 0 0 0 15px;
  width: 40px;
}

@media screen and (min-width: 700px) {
  .item {
    max-width: 500px;
  }

  body {
    background-position: 0px 0;
  }
}

@media screen and (min-width: 1300px) {
  .item {
    max-width: 300px;
    font-size: inherit;
  }

  body {
    background-position: 0 -500px;
  }

  .main {
    height: 60vh;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
  }

  .box {
    margin-top: 20vh;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: rgba(3, 2, 1, 0);
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(81, 81, 81);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #222222;
}
